

<div class = "row">
  <div class = "col">
    <div class="card mb-3">
      <div class="row g-0">

        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "row">



  <div class = "col">
    <div class="card" >

      <div class="card-body">
        <h5 class="card-title">Publishers</h5>
        <p class="card-text">Number of Publishers: <b>{{zero}}</b></p>
        <a href="#" class="btn btn-secondary">Get List</a>
      </div>
    </div>
  </div>

  <div class = "col">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Pioneers</h5>
        <p class = "card-text ">Number of Pioneers: <b>{{zero}}</b> </p>
        <a href="#" class="btn btn-secondary">Get List</a>
      </div>
    </div>
  </div>

  <div class = "col">
    <div class="card" >

      <div class="card-body">
        <h5 class="card-title">Ministerial Servants</h5>
        <p class = "card-text ">Number of Servants: <b> {{zero}}</b> </p>
        <a href="#" class="btn btn-secondary">Get Liste</a>
      </div>
    </div>
  </div>

  <div class = "col">
    <div class="card" >

      <div class="card-body">
        <h5 class="card-title">Elders</h5>
        <p class = "card-text ">Number of Elders: <b>{{zero}}</b></p>
        <a href="#" class="btn btn-secondary">Get List</a>
      </div>
    </div>
  </div>


</div>



